.input{
    -fx-background-color: #f2f3f5;
    -fx-background-radius: 5px;
    -fx-border-color: none;
}

.navbar{
    -fx-background-color: white;
    -fx-background-radius: 10px;
}

.sidenav{
    -fx-background-color: white;
    -fx-background-radius: 10px;

}

.sidenav-button{
    -fx-background-color: #f2f3f5;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}
.sidenav-button:hover{
    -fx-background-color: rgba(1, 98, 171, 0.35);
}
.sidenav-button:hover Label{
    -fx-text-fill: #0162AB;
}
.sidenav-button Label{
    -fx-text-fill: #333333;
}
.sidenav-button-active{
    -fx-background-color: rgba(1, 98, 171, 0.35);
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}
.sidenav-button-active Label{
    -fx-text-fill: #0162AB;
}
.main{
    -fx-background-color: white;
    -fx-background-radius: 10px;
}
.widget{
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}
.button{
    -fx-background-color: #0162AB;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}
.button:hover{
    -fx-opacity: 0.8;
}
.widget-title{
    -fx-font-weight: bold;
    -fx-font-size: 10px;
}
.usersicon{
    -fx-background-color: rgba(1, 98, 171, 0.35);
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}
.flightsicon{
    -fx-background-color: rgba(255, 97, 44, 0.35);
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}
.airlinesicon{
    -fx-background-color: rgba(2, 171, 138, 0.35);
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}
.reservationsicon{
    -fx-background-color: rgba(171, 2, 166, 0.35);
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}
.hotelsicon{
    -fx-background-color: rgba(156, 171, 2, 0.35);
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}
.offersicon{
    -fx-background-color: rgba(30, 3, 171, 0.35);
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}
.userscount{
    -fx-background-color: rgba(1, 98, 171, 0.35);
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}
.flightscount{
    -fx-background-color: rgba(255, 97, 44, 0.35);
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}
.airlinescount{
    -fx-background-color: rgba(2, 171, 138, 0.35);
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}
.reservationscount{
    -fx-background-color: rgba(171, 2, 166, 0.35);
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}
.hotelscount{
    -fx-background-color: rgba(156, 171, 2, 0.35);
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}
.offerscount{
    -fx-background-color: rgba(30, 3, 171, 0.35);
    -fx-padding: 5px;
    -fx-background-radius: 5px;
}
.airlines-airlinescount{
    -fx-background-color: rgba(2, 171, 138, 0.35);
    -fx-padding: 15px;
    -fx-background-radius: 5px;
}
.airlinescount Label{
    -fx-font-weight: 15px;
}
/* Style for the VBox container */
#airlinesContainer {
    -fx-background-color: white;
}

/* Style for the header GridPane */
#headerGrid {
    -fx-background-color: #f2f2f2;
}

/* Style for the ListView */
.list-view {
    -fx-background-color: white;
}

/* Style for each cell in the ListView */
.list-cell {
    -fx-padding: 10px;
    -fx-background-color: white;
}
.list-cell:hover{
    -fx-background-color: rgba(239, 239, 239, 0.35);
}

/* Style for the GridPane inside each cell */
.grid-pane {
    -fx-padding: 5px;
}

/* Style for the labels inside the GridPane */
.label {
    -fx-font-size: 14px;
    -fx-text-fill: #333;
}
